@use "~bootstrap/scss/bootstrap.scss" as *;

//Generics
body{
    background-image: url('https://images.pexels.com/photos/3058928/pexels-photo-3058928.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(40%);
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.no-data{
    height: 100vh;
    width: 100vw;
}

#train-logo{
    width: 30px;
    border-radius: 5px;
    mix-blend-mode: multiply;
}

.icon{
    mix-blend-mode:multiply;;
}

.container-show{
    height: calc(100vh - 70px);
    color: white;
}
